.graph-container {
    display: flex;

    .icon-labels {
        input[type="month"] {
            margin-top: 0.5em;
            font-size: 2em;
            border: none;
            margin-right: 0.2em;
            width: 1em;
            background: transparent;
            transition: transform 0.3s ease;

            &:hover {
                transform: scale(1.1);
            }

            &::-webkit-calendar-picker-indicator {
                cursor: pointer;
            }
        }
    }
}