.component-container {
    display: flex;
    // flex-direction: row;
    // position: fixed;

    .tasks_utilities-container {
        display: flex;
        flex-direction: column;


        // height: 100vh;
        // height: calc(100vh - 1.5em);

        // height: calc(100vh - 3em);
        // align-items: center;
        // gap: 3.5em;


        // .tasks-components-container {
        //     display: flex;
        //     flex-direction: row;
        // }
    }
}