.component-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    
    .tasks_utilities-container {
        display: flex;
        flex-direction: column; 

        .graph_search-container {
            display: flex;
            display: row;
            align-items: center;
            gap: 3.5em;
        }
    
        .tasks-components-container {
            display: flex;
            flex-direction: row;
        }
    }
}