.component-container {
    display: flex;

    .-container {
        display: flex;
        flex-direction: column;
       
    }

    .resolvedtasks_searchbar-container {
        display: flex;
        flex-direction: column;
        width: 100%;


        .resolvedtasks-container {
            display: flex;
            gap: 1.5em;
        }
    }
}