@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

.register-container {
    left: 75%;
}

.back-rect-register {
    left: 0;
}

