.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 1em;
    padding: 1em;
    margin-top: 1.5em;
    margin-left: 1.5em;
    width: calc(100% - 3em);

    .search-icon {
        font-size: 2em;
    }

    .searchbar {
        padding-left: 0.3em;
        font-size: 1.5em;
        height: 1em;
        width: 100%;
        overflow: hidden;
        border: none;
        resize: none;
        outline: none;
        white-space: nowrap;

    }
}