.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1em;
    margin: 1.5em 1.5em 0 1.5em;

    .search-icon {
        font-size: 2em;
    }

    .searchbar {
        padding-left: 0.3em;
        font-size: 1.5em;
        height: 1em;
        width: 100%;
        overflow: hidden;
        border: none;
        resize: none;
        outline: none;
        white-space: nowrap;
    }
}